/*
Title:My P3 Project
Description: Harvard Extension Class: Dynamic Website Application, Project 3
URI: http://p3.yourtripplan.com/
Author: Linghong Chen
*/
/*------------------------------------------------------------------------------------------------------------------------
Main CSS Codes
---------------------------------------------------------------------------------------------------------------------------
*/
article,body{
	display:block;
  }
 
body{
  color:black;
  font-size:15px;
  font-family:"Truebuchet MS", "Helvetica", Serif;
  width:1050px;
  text-align:center;
  background-color:#8C2E00; 
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  }

article{
  position:absolute;
  text-align:justify;
  width:80%;
  height:3200px;
  padding-left:5%;	
  padding-right:5%;
  margin-left:5%;
  margin-right:5%;
  background-color:#FFFFD5; 
  }



h1{
  font-weight:bold;
 	font-size:22px;
  }

h2{
  font-weight:bold;
  font-size:17px;
  }

p{
  font-size:18px;
  width:90%;
  height: auto;
  padding:10px;
  text-align:left;
 }

/*------------------------------------------------------------------------------------------------------------------------
Title , subtitle, menu
---------------------------------------------------------------------------------------------------------------------------
*/
#title{
  Margin-top:20px;
  width:90%;
  height:80px;
  text-align:center;
  font-size:36px;
  padding:10px;
  }

#subtitle{
  width:90%;
  text-align:left;
  font-size:20px;
  padding:20px;
  margin-bottom:20px;
  }

  .navorangebar{
  margin-top:20px;
  padding:10px;
  width:162px;
  height:30px;
  background-color:#8C2E00;
  font-size:18px;
  color:#FFFFFF;
  }
   .navorangebar a{
   width:180px;
  height:40px;
   text-decoration: none; 
  margin: 0px; 
  color:#001100; 
  }
  .navorangebar a:hover {
  width:180px;
  height:40px;
  color: #00000; 
  background-color: #ffffff;
  } 

/*------------------------------------------------------------------------------------------------------------------------
Clickable button
---------------------------------------------------------------------------------------------------------------------------
*/
.start_test,.re_start{
  margin-top:20px;
  margin-left:50%;
  width:250px;
  height:50px;
  font-size:18px;
  padding-top:15px;
  background-color:#CFC892; 
  }
 
.word{
  margin-left: 10px;
  text-align:left;
  font-size:28px;
  padding:10px;
  margin-bottom:10px;
  }
#question{
  font-weight: bold;
  font-size: 18px;
}
 .choice{
  margin-top:10px;
  margin-left:45px;
  font-size:20px;
  margin-bottom:10px;
  }
#check_testanswer, #check_exerciseanswer{
  margin-left:60px;
  margin-top:30px;
  height:40px;
  width:210px;
  font-size:16px;
  background-color:#CFC892; 
  }

#start_practice{
  margin-left:200px;
  margin-top:20px;
  height:40px;
  width:120px;
  font-size:16px;
  background-color:#CFC892; 
  }
  #check_exerciseanswer{
  float:left;
  margin-left:60px;
  height:35px;
  width:180px;
  font-size:13px;
  padding:5px;
  background-color:#FFFF99;
  }
#check_result{
  float:left;
  margin-left:30px;
  margin-top:10px;
  height:35px;
  width:180px;
  font-size:13px;
  padding:5px;
  background-color:#FFFF99;
  }


